<h2>
  Information:
</h2>
<p style="text-align: center;color: crimson;">
  <app-messages></app-messages>
</p>
<div *ngIf="person">
  <form  #personForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label" for="FirstName">FirstName</label>
        <input class="form-control" id="FirstName" [(ngModel)]="person.FirstName" placeholder="FirstName" name="FirstName"
          #FirstName="ngModel" required>
        <div [hidden]="FirstName.valid || FirstName.pristine" class="alert alert-danger">
          FirstName is required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label class="control-label" for="LastName">LastName</label>
        <input id="LastName" class="form-control" [(ngModel)]="person.LastName" placeholder="LastName" name="LastName" #LastName="ngModel" required />
        <div [hidden]="LastName.valid || LastName.pristine" class="alert alert-danger"> LastName is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label" for="d">BirthDay</label>
        <!-- <div class="form-group form-inline"> -->
        <div class="input-group">
          <input class="form-control" placeholder="dd-MM-yyyy" name="dp" [(ngModel)]="convertBirthday" ngbDatepicker #d="ngbDatepicker"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="../../favicon.ico" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label class="control-label" for="Sex">Sex</label>
        <select class="form-control" id="Sex" [(ngModel)]="person.Sex" name="Sex" #Sex="ngModel">
          <option *ngFor="let item of genders" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label" for="Address">Address</label>
        <input id="Address" class="form-control" [(ngModel)]="person.Address" placeholder="Address" name="Address" #Address="ngModel" required />
        <div [hidden]="Address.valid || Address.pristine" class="alert alert-danger"> Address is required
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4"></div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!personForm.valid">Save</button>
        <button type="button" class="btn btn-default" (click)="personForm.reset()">Cancel</button>
        <button (click)="goBack()" class="btn btn-info">Back</button>
      </div>
      <div class="form-group col-md-4"></div>
    </div>
  </form>
</div>
