<div id="data-grid-demo">
  <dx-data-grid id="gridContainer" [dataSource]="dataSource" [allowColumnReordering]="true" (onRowRemoved)="logEvent('RowRemoved')">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
    </dxo-pager>
    <dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>

    <dxi-column dataField="FirstName"></dxi-column>
    <dxi-column dataField="LastName"></dxi-column>
    <dxi-column dataField="Birthday" dataType="date"></dxi-column>

    <dxi-column dataField="Sex" caption="Sex" [width]="125">
      <dxo-lookup [dataSource]="genders">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Address" [width]="170"></dxi-column>


  </dx-data-grid>
</div>
