<div class="mb-3">
  <div class="input-group mb-3">
    <input #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" class="form-control" placeholder="Type FirstName"/>
    <div class="input-group-append">
      <button class="btn btn-info" (click)="search(searchBox.value)" type="button">Search
      </button>
    </div>
  </div>
  <ul>
    <li *ngFor="let person of lstPerson$ | async">
      <a routerLink="/detail/{{person.id}}">
        {{person.FirstName}}
      </a>
    </li>
  </ul>
</div>
